<mat-form-field class="form-field">
    <mat-label>Nama kategori</mat-label>
    <input matInput type="text" [(ngModel)]="nama" name="nama" autocomplete="off">
</mat-form-field>
<table width="100%">
    <tr>
        <td width="50%">
            <button (click)="delete()" mat-stroked-button color="warn" class="btn-block">Hapus</button>
        </td>
        <td width="50%">
            <button (click)="edit()" mat-stroked-button color="primary" class="btn-block">Perbarui</button>
        </td>
    </tr>
</table>