<div class="mt-15">
    <div class="alignleft">
        <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="alignright">
        <button [matMenuTriggerFor]="beforeMenu" mat-icon-button><mat-icon>apps</mat-icon></button>
    </div>
    <div class="aligncenter">
        <p>{{this.title}}</p>
    </div>
</div>
<mat-menu #beforeMenu="matMenu" xPosition="before">
    <button class="menu-item" routerLink="/profile" mat-menu-item>Profil</button>
    <button class="menu-item" routerLink="/setting" mat-menu-item>Pengaturan</button>
    <button class="menu-item" routerLink="/report" mat-menu-item>Laporan</button>
    <button class="menu-item" (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>
<div style="clear: both;"></div>
<router-outlet></router-outlet>
<!-- <app-bottom-menu></app-bottom-menu> -->
