<div *ngIf="this.status <= 0">
    <table width="100%">
        <tr>
            <td align="center">
                <mat-icon style="color: #f44336;font-size: 48px; width: 48px; height: 48px; line-height: 48px;">error_outline</mat-icon>
                <br><b>Server kami sedang padat merayap nih.</b>
                <br><span style="font-size: 12px; color: grey;">Tenang, kami akan segera memperbaikinya. Silahkan kembali lagi nanti :)</span>
            </td>
        </tr>
        <tr>
            <td align="center">
                <button [attr.tabindex]="-1" mat-flat-button color="primary" (click)="closeExpired()" class="btn-block">Close</button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="this.status > 0">
    <div *ngIf="reason == 'Unauthorized'">
        <table width="100%">
            <tr>
                <td align="center">
                    <mat-icon style="color: #f44336;font-size: 48px; width: 48px; height: 48px; line-height: 48px;">error_outline</mat-icon>
                    <br><b>Sesi telah habis.</b>
                    <br><span style="font-size: 12px; color: grey;">Silahkan login kembali untuk menggunakan aplikasi.</span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button [attr.tabindex]="-1" mat-flat-button color="primary" (click)="closeExpired()" class="btn-block">Login</button>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="reason != 'Unauthorized'">
        <table width="100%">
            <tr>
                <td align="center">
                    <mat-icon style="color: #f44336;font-size: 48px; width: 48px; height: 48px; line-height: 48px;">error_outline</mat-icon>
                    <br><b>Sesi telah habis.</b>
                    <br><span style="font-size: 12px; color: grey;">Silahkan login kembali untuk menggunakan aplikasi.</span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button [attr.tabindex]="-1" mat-flat-button color="primary" (click)="closeFailedLogin()" class="btn-block">Try Again</button>
                </td>
            </tr>
        </table>
    </div>
</div>
