<table width="100%">
    <tr>
        <td align="center" width="33%">
            <button routerLink="/setting/category" mat-mini-fab color="primary">
                <mat-icon style="font-size: 22px;">notes</mat-icon>
            </button>
            <div class="title-icon">Kategori</div>
        </td>
        <td align="center" width="33%">
            <button routerLink="/setting/pin" mat-mini-fab color="warn">
                <mat-icon style="font-size: 22px;">security</mat-icon>
            </button>
            <div class="title-icon">Atur PIN</div>
        </td>
        <td align="center" width="33%">
            <!-- <button mat-mini-fab color="primary">
                <mat-icon style="font-size: 22px;">notes</mat-icon>
            </button>
            <div class="title-icon">Category</div> -->
        </td>
    </tr>
</table>
<div class="divider"></div>
<!-- <div>
    Apps Version 1.0.0
</div> -->
