<table width="100%">
    <tr>
        <td align="center" width="33%">
            <button routerLink="/setting/category" mat-mini-fab color="primary">
                <mat-icon style="font-size: 22px;">notes</mat-icon>
            </button>
            <div class="title-icon">Kategori</div>
        </td>
        <td align="center" width="33%">
            <button routerLink="/setting/pin" mat-mini-fab color="warn">
                <mat-icon style="font-size: 22px;">security</mat-icon>
            </button>
            <div class="title-icon">Atur PIN</div>
        </td>
        <td align="center" width="33%">
            <button mat-mini-fab (click)="openDialogAbout()" style="background-color: rgb(255, 174, 0); color: white;">
                <mat-icon style="font-size: 22px;">announcement</mat-icon>
            </button>
            <div class="title-icon">Tentang</div>
        </td>
    </tr>
</table>

<div class="mt-25" style="text-align: center;">
    <div class="divider"></div>
    <span style="font-size: 12px; color: grey;">App Versi : {{versi}}</span>
</div>