.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
    text-align: center;
    font-weight: bold;
    line-height: 43px;
}

.card-green {
    width: 100%;
    padding: 8px;
    background: #04b112;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.card-red {
    width: 100%;
    padding: 8px;
    background: #f44336;
    color: white;
    border-radius: 8px;
    text-align: center;
}