<div class="loading" *ngIf="loading">
    <!-- <mat-spinner style="margin:0 auto;"  mode="indeterminate"></mat-spinner> -->
    <img style="width: 150px; backdrop-filter: blur(0px); position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;" src="assets/loading.svg" alt="Loading...">
</div>
<div class="container-page">
    <div class="title">
        Kategori Pemasukan
    </div>
    <div class="loop" *ngFor="let item of this.dataCategoryIn">
        <div class="list-card">
            <table width="100%" border="0">
                <tr>
                    <td valign="middle" width="7%">
                        <div class="list-vl-green"></div>
                    </td>
                    <td valign="middle" class="list-desc">
                       {{item.categoryDescription}}
                    </td>
                    <td *ngIf="item.categoryUser == '2105'" align="right" valign="middle" width="10%">
                        <button disabled mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="item.categoryUser != '2105'" align="right" valign="middle" width="10%">
                        <button (click)="openDialogCategoryEdit(item)" mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="title">
        Kategori Pengeluaran
    </div>
    <div class="loop" *ngFor="let item of this.dataCategoryOut">
        <div class="list-card">
            <table width="100%" border="0">
                <tr>
                    <td valign="middle" width="7%">
                        <div class="list-vl-red"></div>
                    </td>
                    <td valign="middle" class="list-desc">
                       {{item.categoryDescription}}
                    </td>
                    <td *ngIf="item.categoryUser == '2105'" align="right" valign="middle" width="10%">
                        <button disabled mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="item.categoryUser != '2105'" align="right" valign="middle" width="10%">
                        <button (click)="openDialogCategoryEdit(item)" mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="btn-add">
    <button (click)="openDialogCategoryAdd()" style="background-color:#2492F4;" mat-fab>
        <mat-icon style="font-size: 22px; color: white;">add</mat-icon>
    </button>
</div>
