<div class="container-page">
    <div class="title">
        Kategori Pemasukan
    </div>
    <div class="loop" *ngFor="let item of this.dataCategoryIn">
        <div class="list-card">
            <table width="100%" border="0">
                <tr>
                    <td valign="middle" width="7%">
                        <div class="list-vl-green"></div>
                    </td>
                    <td valign="middle" class="list-desc">
                       {{item.categoryDescription}}
                    </td>
                    <td align="right" valign="middle" width="10%">
                        <button routerLink="/setting/category" mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="title">
        Kategori Pengeluaran
    </div>
    <div class="loop" *ngFor="let item of this.dataCategoryOut">
        <div class="list-card">
            <table width="100%" border="0">
                <tr>
                    <td valign="middle" width="7%">
                        <div class="list-vl-red"></div>
                    </td>
                    <td valign="middle" class="list-desc">
                       {{item.categoryDescription}}
                    </td>
                    <td align="right" valign="middle" width="10%">
                        <button routerLink="/setting/category" mat-icon-button>
                            <mat-icon style="font-size: 22px;">edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="btn-add">
    <button routerLink="/setting/category" style="background-color:#2492F4;" mat-fab>
        <mat-icon style="font-size: 22px; color: white;">add</mat-icon>
    </button>
</div>
