<mat-form-field class="form-field">
    <mat-label>Pilih kategori</mat-label>
    <mat-select [(ngModel)]="kategori" name="kategori" class="mat-select">
      <mat-option value="1">Pengeluaran</mat-option>
      <mat-option value="0">Pemasukan</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="form-field">
    <mat-label>Nama kategori</mat-label>
    <input matInput type="text" [(ngModel)]="nama" name="nama" autocomplete="off">
</mat-form-field>
<table width="100%">
    <tr>
        <td width="50%">
            <button (click)="onNoClick()" mat-stroked-button color="warn" class="btn-block">Batal</button>
        </td>
        <td width="50%">
            <button (click)="save()" mat-stroked-button color="primary" class="btn-block">Simpan</button>
        </td>
    </tr>
</table>