<div style="text-align: center;">
    <img src="assets/icons/icon192.png" style="width: 80px;" alt="Logo">
    <br>
    <div style="margin-top: -10px; font-size: 20px; font-weight: bold;">Uang Apps</div>
    <br>
    <div style="font-size: 12px; color: #2492F4; margin-top: -15px;">www.dazelpro.com</div>
    <br>
    <div style="font-size: 14px;">
        Hai, aplikasi ini dibangun sedemikian rupa agar ramah pengguna. 
        Aplikasi ini ditujukan untuk semua kalangan masyarakat yang membutukan aplikasi 
        untuk mencatat keuangan.
    </div>
    <div style="font-size: 12px; margin-top: 10px;">
        <a href="https://dazelpro.com/privacy" style="text-decoration: underline !important;" target="_blank">Kebijakan Privasi</a> & <a href="https://dazelpro.com/contact" style="text-decoration: underline !important;" target="_blank">Kontak Developer</a>
    </div>
    <br>
    <div style="font-size: 12px;">©2020 Dazelpro<br>Made with ❤️ using Angular 10.1.2</div>
</div>
