.profile-content {
    padding-left: 15px;
    padding-right: 15px;
}

.foto {
    text-align: center;
}

.form-field {
    width: 100%;
}

.btn-primary {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #2492F4;
    color: white;
}

.btn-danger {
    width: 100%;
    display: block;
    text-align: center;
    background-color: transparent;
    color: #f44336;
    border: 1px solid #f44336;
}