<!-- <a routerLink="/profile">Profile</a> -->
<div class="card">
    <span style="color: grey;">Saldo anda saat ini</span>
    <h1 style="line-height: 0;">Rp. 1.870.000</h1>
</div>

<div class="title">
    Transaksi terakhir
</div>

<div class="sub-title">
    Pemasukan
</div>

<div>
    <table width="100%" border="0">
        <tr>
            <td rowspan="2">O</td>
            <td align="left">Gaji</td>
            <td align="right">Rp. 1.900.000</td>
        </tr>
        <tr>
            <td align="left">Gaji Bulan Agustus</td>
            <td align="right">26 Agustus 2020</td>
        </tr>
    </table>
</div>

<div class="divider"></div>

<div class="sub-title">
    Pemasukan
</div>

<div>
    <table width="100%" border="0">
        <tr>
            <td rowspan="2">O</td>
            <td align="left">Belanja Umum</td>
            <td align="right">Rp. 15.000</td>
        </tr>
        <tr>
            <td align="left">Beli Rokok</td>
            <td align="right">26 Agustus 2020</td>
        </tr>
    </table>
</div>

