.card {
    width: 100%;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 8px;
}

.title {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.sub-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.list-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.list-sub-title {
    margin-top: 10px;
    font-size: 12px;
    color: grey;
}
