<div class="loading" *ngIf="loading">
    <mat-spinner style="margin:0 auto;"  mode="indeterminate"></mat-spinner>
</div>

<div class="card mt-10">
    <table width="100%" border="0">
        <tr>
            <td>
                <span style="color: grey;">Uang kamu saat ini</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td valign="middle">
                <h1 style="line-height: -0;">Rp. {{totalSaldo.toLocaleString(['id'])}}</h1>
            </td>
            <td align="right" rowspan="2" valign="middle">
                <button (click)="refresh()" mat-icon-button><mat-icon style="color:#2492F4;">refresh</mat-icon></button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!noData" class="mt-50">
    <p style="text-align: center;">😔 <br>Belum ada histori catatan keuangan</p>
    <p style="text-align: center;" class="mt-50">Gunakan tombol <b>"plus"</b> dibawah untuk mencatat keuanganmu</p>
</div>
<div *ngIf="noData">
    <div class="title">
        Transaksi terakhir
    </div>

    <div class="sub-title">
        Pemasukan
    </div>
    <div *ngIf="!inData" class="mt-10">
        <p style="text-align: center;">😔 <br>Belum ada catatan pemasukan</p>
    </div>
    <div *ngIf="inData" class="mt-10">
        <div *ngFor="let item of this.transactionIn">
            <table width="100%" border="0" class="mt-5">
                <tr>
                    <td rowspan="2" valign="top" width="10%">
                        <mat-icon style="color: green;">north_east</mat-icon>
                    </td>
                    <td align="left" class="list-title">{{item.categoryDescription}}</td>
                    <td align="right"  class="list-title">Rp. {{item.inAmt.toLocaleString(['id'])}}</td>
                </tr>
                <tr>
                    <td align="left" class="list-sub-title">{{item.inDescription}}</td>
                    <td align="right" class="list-sub-title">{{item.inCreateAt | date:'dd MMM yyyy'}}</td>
                </tr>
            </table>
        </div>
        <table width="100%" border="0" class="mt-5">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td align="right" class="list-sub-title">
                    <span routerLink="/cash-in" style="color: blue; cursor: pointer;">Lihat semua</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="divider"></div>

    <div class="sub-title">
        Pengeluaran
    </div>

    <div *ngIf="!outData" class="mt-10">
        <p style="text-align: center;">😂 <br>Belum ada catatan pengeluaran</p>
    </div>

    <div *ngIf="outData" class="mt-10">
        <div *ngFor="let item of this.transactionOut">
            <table width="100%" border="0" class="mt-5">
                <tr>
                    <td rowspan="2" valign="top" width="10%">
                        <mat-icon color="warn">south_west</mat-icon>
                    </td>
                    <td align="left" class="list-title">{{item.categoryDescription}}</td>
                    <td align="right"  class="list-title">Rp. {{item.outAmt.toLocaleString(['id'])}}</td>
                </tr>
                <tr>
                    <td align="left" class="list-sub-title">{{item.outDescription}}</td>
                    <td align="right" class="list-sub-title">{{item.outCreateAt | date:'dd MMM yyyy'}}</td>
                </tr>
            </table>
        </div>
        <table width="100%" border="0" class="mt-5">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td align="right" class="list-sub-title">
                    <span routerLink="/cash-out" style="color: blue; cursor: pointer;">Lihat semua</span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <button mat-icon-button routerLink="/home" class="icon-home"><mat-icon>home</mat-icon></button>
        <button mat-icon-button routerLink="/profile" class="icon-account"><mat-icon>person_outline</mat-icon></button>

        <div class="circle" (click)="openDialogAdd()" matRipple>
            <i class="plus-icon"><mat-icon>add</mat-icon></i>
        </div>
    </div>
</div>
