/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color:  #FAFAFA;
}

body, 
button,
.menu-item, 
.form-field, 
.mat-radio,
.mat-snackbar {
    font-family: 'Quicksand', sans-serif !important;
}

.divider {
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    background: rgba(33, 33, 33, 0.08);
    mix-blend-mode: normal;
}

svg#clouds {
    position: fixed;
    top: -170px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.container-page {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-block {
    display: block;
    width: 100%;
}

.mat-btn-add {
    background-color: red;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-100 {
    margin-top: 100px;
}

/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}