/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color:  #FAFAFA;
}

body, .menu-item {
    font-family: 'Quicksand', sans-serif;
}

svg#clouds {
    position: fixed;
    top: -170px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-100 {
    margin-top: 100px;
}