<div class="loading" *ngIf="loading">
    <mat-spinner style="margin:0 auto;"  mode="indeterminate"></mat-spinner>
</div>
<div class="mt-10">
    <div *ngFor="let item of this.transactionIn">
        <table width="100%" border="0" class="mt-5">
            <tr>
                <td align="left" class="list-title">{{item.categoryDescription}}</td>
                <td align="right"  class="list-title">Rp. {{item.inAmt.toLocaleString(['id'])}}</td>
            </tr>
            <tr>
                <td align="left" class="list-sub-title">{{item.inDescription}}</td>
                <td align="right" class="list-sub-title">{{item.inCreateAt | date:'dd MMM yyyy'}}</td>
            </tr>
        </table>
    </div>
</div>